---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h4>Hello There.</h4>
			<p>
              I'm DeadMeme. Nice to meet you.
              <br/>
              This is my attempt at a personal website,
              and a place for me to dump whatever is in my head,
              and a place for me to explain the things I'm working on
              and the stuff I personally find interesting.
			</p>
            <h4>A little about me.</h4>
            <p>
              <b>I believe programming is an art form.</b>
              <br/>
              Programming is misunderstood as just "some job". I don't think it is. I believe programming is the ultimate form of expression of oneself. As a programmer, you have the freedom and the ability to take any (yes, <b>ANY</b>) idea, and then make it exist inside this wonderful box we call a computer.
            </p>
            <p>
              <b>I believe in being rigorous.</b>
              <br/>
              Something should be done only if it is done right. My personal definition of what is "right" is not based on some abstract moral system. It's a simple one - if you personally have conviction you've done justice to the task being done, then it has been done right. The assessment of how "well" it's done - then only boils down to your own personal ability - if your best ability was to do it horribly, then your ability is to be incompetent at it. 
            </p>
            <h4>The structure of this site.</h4>
            <ul>
                <li><a href="/blog">Blog </a> - Contains all my "blogs" - stuff I write.</li>
                <li><a href="/thoughts-and-opinions">Thoughts and Opinions</a> - Contains stuff I thought about, the issues I faced, and borderline mentally ill ideas I have.</li>
                <li><a href="/interesting-stuff">Interesting Stuff </a> - Contains a (hopefully) structured list of books, articles, blogs, videos, tweets, instagram posts etc. that I actually found cool and must be seen.</li>
            </ul>
            <h4>How this site was built.</h4>
            <p>
              This site was built using <a href="https://astro.build">AstroJs</a>, and each page (except this one) - was generated using <a href="https://orgmode.org">Org Mode</a> and  <a href="https://www.gnu.org/software/emacs/">Emacs</a> (my current editor).
            </p>
            <p>
                I write my thoughts in an org mode project, and use <a href="https://ox-hugo.scripter.co/">ox-hugo</a> to export to markdown, which I publish as "blog pages", and updated sections in the other 2 places using emacs.
            </p>
		</main>
		<Footer />
	</body>
</html>
