---
import Base from "../layouts/Base.astro";
---
<Base title="deadmeme.dev">
  <h1>deadmeme.dev</h1>
  <p>Developer log, blog, projects, and documentation hub.</p>
  <ul>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/devlog">Devlog</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/docs">Docs</a></li>
    <li><a href="/resume">Resume</a></li>
  </ul>
</Base>

